{% extends "layout.html" %}


{% block content %}

<script>
  
    let data = {{data|tojson}};
    let page = {{page|tojson}};
</script>

<script type="text/javascript" src="{{ url_for('static', filename = 'view.js') }}"></script>
        <div class = "row one">
            <div class = "col-md-6">
                <div class ="row">
                    <div class = "col-md-8 name">
                        <b>{{data[page].flavor}}</b>
                    </div>
                    <div class = "col-md-2"></div>
                    <div class = "col-md-2 price">
                        ${{data[page].price}}
                    </div>
                </div>
                <img class = "photo" src = {{data[page].photo}} alt="an image of the flavor {{data[page].flavor}}">
            </div>
            <div class = "col-md-6 one2">
                <div class = "row features">
                    <div class = "col-md-3">
                    <b>Features:</b>
                    </div>
                    <div class = "col-md-9">
                        <div class = "row" id="feat">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row ingredients">
                    <b>Ingredients:</b> {{data[page].ingredients}}
                </div>
                <br>
                <div class = "row cal">
                    <b>Calories (per one 2/3 cup serving)</b>: {{data[page].calories}}
                </div>
                <br>
                <div id = "stores">
                    <b>Available in:</b><br>
                </div>
                <div>
                    <a href = "/edit/{{data[page].id}}">
                        <button class="btn-sm btn-outline-secondary" id = "edit" type="submit"> Edit </button>
                    </a>
                    
                </div>
            </div>
        </div>
        <br>
        <div class = "row two">
            <div class = "col-md-6">
                <div class = "row rating" id = "rating">
                </div>
                <br>
                <div class = "row description">
                    {{data[page].description}}
                </div>
            </div>
        </div>
{% endblock %}
