{% extends "layout.html" %}

{% block content %}

<script>
  
    let data = {{data|tojson}};
    let id = {{id|tojson}};
</script>

<script type="text/javascript" src="{{ url_for('static', filename = 'edit.js') }}"></script>


<div class= "myform">
        <div id ="put_result_e"></div>
        <div class = "top">
            Edit your Flavor Entry
        </div>
        <br>
        <div class = "row">
        <div name="frm" class="col-md-8 entry">
            <div class="form-group" id="1">
              <label for="flav">Flavor</label>
              <input class="form-control" id="flav_e" name="flav" value="{{data[id].flavor}}">
            </div>
            <div class="form-group" id="2">
              <label for="des">Description</label>
              <input class="form-control" id="des_e" name="des" value="{{data[id].description}}">
            </div>
            <div class="form-group" id="3">
                <label for="price">Price</label>
                <input type="number" class="form-control" id="price_e" name="price" value="{{data[id].price}}">
            </div>
            <div class="form-group" id="4">
                <label for="ingred">Ingredient List</label>
                <input class="form-control" id="ingred_e" name="ingred" value="{{data[id].ingredients}}">
            </div>
            <div class="form-group" id="5">
                <label for="fea">Features</label>
                <input  class="form-control" id="fea_e" placeholder="seperated by commas" value="{{data[id].features}}">
                <div>only valid options are: 'vegan', 'organic', 'limited edition'. separate by commas (no whitespace).</div>
            </div>
            <div class="form-group" id="6">
                <label for="pic">Photo</label>
                <input  class="form-control" id="pic_e" name="pic" value="{{data[id].photo}}">
            </div>
            <div class="form-group" id="7">
                <label for="rate">Rating</label>
                <input class="form-control" id="rate_e" name="rate" value="{{data[id].rating}}">
            </div>
            <div class="form-group" id="8">
                <label for="caloric">Calories</label>
                <input type="number" class="form-control" id="caloric_e" name="caloric" value="{{data[id].calories}}">
            </div>
            <div class="form-group" id="9">
                <label for="s">Stores Offering this Flavor</label>
                <input class="form-control" id="s_e" name="s" value="{{data[id].stores}}">
                <div>only valid options are: 'Hmart', 'Westside Market', 'Morton Williams'. separate by commas (no whitespace)</div>
            </div>
            <button class="btn btn-sm btn-outline-secondary" id = "save" type="submit">Submit</button>
            <button class="btn btn-sm btn-outline-secondary" id = "disregard" type="submit" onclick="myFunction();">Disregard Changes</button>
        </div>
    </div>
</div>
    

{% endblock %}
