{% extends "layout.html" %}


{% block content %} 
<script>
    let data = {{data|tojson}};
</script>

<script type="text/javascript" src="{{ url_for('static', filename = 'welcome.js') }}"></script>

<div class="row contain">
        <img src = "https://www.preparedfoods.com/ext/resources/images/2019/09/Van_Leeuwen_900.gif?height=635&t=1568751000&width=1200" class = "col-md-4">
        <div class = "col-md-8">
            <div class="text">
                Trending Van Leeuwen Flavors This Week
            </div>
            <div class="text2">
                Explore Van Leeuwen ice cream flavors to buy at stores near you ranging from sicilian pistachio to strawberry. Explore flavors by name or by searching up what vegan, limited-edition, and organic options are offered. Learn about flavor ingredients, caloric content, and user ratings. 
            </div>
        </div>
<div>

<br>
<br>
<br>

<div id="three" class="row">
</div>
<br>
<br>
<br>
{% endblock %}
